<div class="modal fade" id="wallet_payment_modal" tabindex="-1" role="dialog" aria-labelledby="track_unreported" aria-hidden="true" data-id="0">
    <div class="modal-dialog mat_box" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{LANG Choose a payment method.}}</h5>
			</div>
            <div class="modal-body">
				<div class="pay_method">
					<?php if($music->config->paypal_payment == 'on'){?>
						<button class="btn" onclick="purchaseWalletPaypal($(this),'{{PRICE}}')" id="btn-wallet-paypal-payment" data-id="" data-title="" data-price="{{PRICE}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#283593" d="M8.32,21.97C8.21,21.92 8.08,21.76 8.06,21.65C8.03,21.5 8,21.76 8.66,17.56C9.26,13.76 9.25,13.82 9.33,13.71C9.46,13.54 9.44,13.54 10.94,13.53C12.26,13.5 12.54,13.5 13.13,13.41C16.38,12.96 18.39,11.05 19.09,7.75C19.13,7.53 19.17,7.34 19.18,7.34C19.18,7.33 19.25,7.38 19.33,7.44C20.36,8.22 20.71,9.66 20.32,11.58C19.86,13.87 18.64,15.39 16.74,16.04C15.93,16.32 15.25,16.43 14.05,16.46C13.25,16.5 13.23,16.5 13,16.65C12.83,16.82 12.84,16.79 12.45,19.2C12.18,20.9 12.08,21.45 12.04,21.55C11.97,21.71 11.83,21.85 11.67,21.93L11.56,22H10C8.71,22 8.38,22 8.32,21.97V21.97M3.82,19.74C3.63,19.64 3.5,19.47 3.5,19.27C3.5,19 6.11,2.68 6.18,2.5C6.27,2.32 6.5,2.13 6.68,2.06L6.83,2H10.36C14.27,2 14.12,2 15,2.2C17.62,2.75 18.82,4.5 18.37,7.13C17.87,10.06 16.39,11.8 13.87,12.43C13,12.64 12.39,12.7 10.73,12.7C9.42,12.7 9.32,12.71 9.06,12.85C8.8,13 8.59,13.27 8.5,13.6C8.46,13.67 8.23,15.07 7.97,16.7C7.71,18.33 7.5,19.69 7.5,19.72L7.47,19.78H5.69C4.11,19.78 3.89,19.78 3.82,19.74V19.74Z" /></svg>{{LANG PayPal}}
						</button>
					<?php } ?>
					<?php if($music->config->stripe_payment == 'on'){?>
						<button class="btn" onclick="openStripeModel();//purchaseWalletStripe($(this),'{{PRICE}}')" id="btn-wallet-stripe-payment" data-id="" data-title="" data-price="{{PRICE}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#6BBEA1" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg>{{LANG Credit Card}}
						</button>
					<?php } ?>
                    <?php if($music->config->bank_payment == 'on'){?>
						<button class="btn" onclick="purchaseWalletBank($(this),'{{PRICE}}')" id="btn-wallet-bank-payment" data-id="" data-title="" data-price="{{PRICE}}">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#B5C3C6" d="M11.5,1L2,6V8H21V6M16,10V17H19V10M2,22H21V19H2M10,10V17H13V10M4,10V17H7V10H4Z" /></svg>{{LANG Bank transfer}}
						</button>
                    <?php } ?>
				</div>
            </div>
        </div>
    </div>
	<input id="wallet_amount" type="hidden" value="{{PRICE}}">
</div>


<div class="modal fade" id="stripe_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog " role="document">
		<div class="modal-content add_money_modal add_address_modal" style="    background-color: #272727;">
			<h5 class="modal-title text-center">Stripe</h5>
			<div class="modal-body">
				<div id="stripe_alert" style="    color: red;"></div>
				<form id="stripe_form" method="post">
					<div class="form-group">
						<input class="form-control shop_input" type="text" placeholder="{{LANG Name}}"  value="{{ME name}}" id="stripe_name">
					</div>
					<div class="form-group">
						<input class="form-control shop_input" type="email" placeholder="{{LANG Email}}" value="{{ME email}}" id="stripe_email">
					</div>
					<div class="form-group">
						<input id="stripe_number" class="form-control shop_input" type="text" placeholder="{{LANG Card Number}}">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select id="stripe_month" type="text" class="form-control shop_input" autocomplete="off" placeholder="{{LANG Month}} (01)">
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<select id="stripe_year" type="text" class="form-control shop_input" autocomplete="off" placeholder="{{LANG Year}} (2019)">
									<?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
									<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
									<?php } ?>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input id="stripe_cvc" value="123" type="text" class="form-control shop_input" autocomplete="off" placeholder="CVC" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-main" onclick="SH_StripeRequest()" id="stripe_button" >{{LANG Pay}}</button>
						<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{LANG Cancel}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
    function purchaseWalletPaypal(element) {
        ElementText = element.text();
        element.text("{{LANG Please wait..}}");
        element.attr('disabled', 'true');
        $.get('{{CONFIG ajax_url}}/get-wallet-url?price={{PRICE}}', function (data) {
            if (data.status == 200) {
                element.text("{{LANG Redirecting..}}");
                location.href = data.url;
            } else {
                element.text("{{LANG Oops, an error found.}}");
                element.removeAttr('disabled');
                console.log(data.error);
            }
        });
    }

    function openStripeModel(){
        //$('#stripe_email').val($('#stripe_email').attr('data-email'));
        $('#stripe_number').val('');
        $('#stripe_cvc').val('');
        $('#stripe_modal').removeClass('up_rec_img_ready, up_rec_active');
        $('#stripe_modal').modal('show');
	}
    var stripe_array = [];
    function SH_StripeRequest(argument) {
        if ($("#stripe_name").val() != '' && $("#stripe_email").val() != '' && $("#stripe_number").val() != '' && $("#stripe_month").val() != '' && $("#stripe_year").val() != '' && $("#stripe_cvc").val() != '' && $("#wallet_amount").val() != '') {
            var script = document.createElement('script');
            script.src = 'https://js.stripe.com/v2/';
            script.type = 'text/javascript';
            script.onload = script.onreadystatechange = function() {
                Stripe.setPublishableKey('{{CONFIG stripe_id}}');

                $('#stripe_button').attr('disabled', 'true');
                $('#stripe_button').text("{{LANG Please wait..}}");
                stripe_array['stripe_name'] = $('#stripe_name').val();
                stripe_array['stripe_email'] = $('#stripe_email').val();
                stripe_array['stripe_number'] = $('#stripe_number').val();
                stripe_array['stripe_month'] = $('#stripe_month').val();
                stripe_array['stripe_year'] = $('#stripe_year').val();
                stripe_array['stripe_cvc'] = $('#stripe_cvc').val();
                stripe_array['amount'] = $('#wallet_amount').val();
                Stripe.createToken({
                    number: $('#stripe_number').val(),
                    exp_month: $('#stripe_month').val(),
                    exp_year: $('#stripe_year').val(),
                    cvc: $('#stripe_cvc').val()
                }, SH_StripeResponseHandler);
            };
            let head  = document.getElementsByTagName('head')[0];
            head.appendChild(script);
        }
        else{
            $('#stripe_alert').html("{{LANG Please check your details}}");
        }
    }
    function SH_StripeResponseHandler(status, response) {
        if (response.error) {
            $('#stripe_alert').html(response.error.message);
            $('#stripe_button').removeAttr('disabled');
            $('#stripe_button').text("{{LANG Pay}}");
        } else {
            stripe_array['token'] = response.id;

            $.post('{{CONFIG ajax_url}}/stripe-wallet', {
                stripeToken: stripe_array['token'],
                stripe_name: stripe_array['stripe_name'],
                stripe_email: stripe_array['stripe_email'],
                stripe_number: stripe_array['stripe_number'],
                stripe_month: stripe_array['stripe_month'],
                stripe_year: stripe_array['stripe_year'],
                stripe_cvc: stripe_array['stripe_cvc'],
                amount: stripe_array['amount'],
                description: 'Replenish My Balance',
                price: stripe_array['amount'],
                payType: 'wallet',
                trackID: ''
            }, function (data) {
                if (data.status == 200) {
                    window.location = data.url;
                }else{
                    alert(data.message);
                }
            });
        }
    }
    function purchaseWalletBank(element,price) {
        var title = '{{LANG Replenish My Balance}}';

        $('#btn-upload-receipt').attr('data-id', 1);
        $('#btn-upload-receipt').attr('data-mode', 'wallet');
        $('#btn-upload-receipt').attr('data-title', title);
        $('#btn-upload-receipt').attr('data-price', price);

        $('#receipt_img_path').html('');
        $('#receipt_img_preview').attr('src', '');
        $('.bank_transfer_modal').removeClass('up_rec_img_ready, up_rec_active');
        $('.bank_transfer_modal').modal('show');
    }
</script>