<tr id="{{SONG id}}">
    <td>{{SONG id}}</td>
    <td style="vertical-align: inherit;text-align: center;">
        <a href="{{LINK track}}/<?php echo $data['SONG_DATA']->audio_id;?>" target="_blank">
        <img src="{{SONG thumbnail}}" style="display: block;margin: 0 auto;width: 100px;" alt="{{SONG title}}" title="{{SONG title}}">
        </a>
    </td>
    <td>
        <a href="{{LINK track}}/<?php echo $data['USER_DATA']->username;?>" target="_blank">
            <img src="<?php echo $data['USER_DATA']->avatar;?>" class="td-avatar" alt="user avatar"> <?php echo $data['USER_DATA']->name;?>
        </a>
    </td>
    <td>
        <small>{{DESC}}</small>
    </td>
    <td>{{RATE}}</td>
    <td><?php echo time_Elapsed_String($data['TM']);?></td>
    <td>
        <button type="button" class="btn btn-danger waves-effect waves-light btn-delete-album" data-id="{{ID}}">DELETE</button>
    </td>
</tr>
