<?php
$page = (!empty($_GET['page-id'])) ? $_GET['page-id'] : 1;
$filter_keyword = (!empty($_GET['query'])) ? Secure($_GET['query']) : '';
$db->pageLimit  = 50;

$extra_sql = array();
$extra_sql[] = ' `id` > 0 ';
if(isset($_GET['privacy'])){
    $extra_sql[] = ' `privacy` = ' . $_GET['privacy'] . ' ';
}
$extra_sql_text = implode(' AND ', $extra_sql);


if (!empty($filter_keyword)) {
    $sql   = "(
        `id`      = ". (int)$filter_keyword ." OR
        `uid`     LIKE '%$filter_keyword%' OR
        `name`    LIKE '%$filter_keyword%'
    )";
    $albums = $db->objectbuilder()->where($sql)->orderBy('id', 'DESC')->paginate(T_PLAYLISTS, $page);
} else {
    $albums = $db->objectbuilder()->where($extra_sql_text)->orderBy('id', 'ASC')->paginate(T_PLAYLISTS, $page);
}

if (($page > $db->totalPages) && !empty($_GET['page-id'])) {
    header("Location: " . LoadAdminLinkSettings('manage-playlist'));
    exit();
}
?>
<div class="container-fluid">
    <div class="block-header">
        <h2>Songs > Manage Playlists</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success site-settings-alert"></div>
                        </div>
                        <div class="col-md-6" style="margin-bottom:0;">
                            <form method="get" action="<?php echo LoadAdminLinkSettings('manage-playlist'); ?>">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="query" id="query" class="form-control" value="<?php echo $filter_keyword;?>">
                                                <label class="form-label search-form">
                                                    Search for playlist by title, ID, Long ID.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-info">Search</button>
                                        <a class="btn btn-default" href="<?php echo LoadAdminLinkSettings('manage-playlist');?>">Reset</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="col-md-6" style="margin-bottom:0;">
                            <form method="get" action="<?php echo LoadAdminLinkSettings('manage-playlist'); ?>">
                                <div class="row">

                                    <div class="col-md-2">
                                        <label class="col-md-12 p-0" for="privacy">Availability</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="privacy" id="privacy" class="form-control">
                                            <option value="0" selected="">Public</option>
                                            <option value="1">Private</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-info">Filter</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                    <div class="clearfix"></div>

                    <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="width: 5%;">ID</th>
                                <th style="width: 7%;">Cover</th>
                                <th style="width: 13%;">Artist / User</th>
                                <th style="width: 20%;">Playlist Name</th>
                                <th style="width: 10%;">Privacy</th>
                                <th style="width: 10%;">Songs</th>
                                <th style="width: 10%;">Published On</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php
                                foreach ($albums as $key => $value) {
                                    $album = getPlayList($value->id);
                                    echo LoadAdminPage('manage-playlist/list',['ALBUM_DATA' => $album]);
                                }
                            ?>
                            </tbody>
                        </table>
                        <div class="pull-left">
                            <?php echo "Showing $page out of " . $db->totalPages; ?>
                        </div>
                        <div class="pull-right">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="<?php echo LoadAdminLinkSettings('manage-playlist?page-id=1'); ?>" class="waves-effect" title='First Page'>
                                            <i class="material-icons">first_page</i>
                                        </a>
                                    </li>
                                    <?php if ($page > 1) {  ?>
                                    <li>
                                        <a href="<?php echo LoadAdminLinkSettings('manage-playlist?page-id=' . ($page - 1)); ?>" class="waves-effect" title='Previous Page'>
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                    <?php  } ?>
                                    <?php
                                $nums = 0;
                                $nums_pages = ($page > 4) ? ($page - 4) : $page;
                                    for ($i=$nums_pages; $i <= $db->totalPages; $i++) {
                                    if ($nums < 20) {
                                    ?>
                                    <li class="<?php echo ($page == $i) ? 'active' : ''; ?>"><a href="<?php echo LoadAdminLinkSettings('manage-playlist?page-id=' . ($i)); ?>" class="waves-effect"><?php echo $i ?></a></li>
                                    <?php
                                	}
                                	$nums++;
                                }
                                ?>
                                    <?php if ($db->totalPages > $page) { ?>
                                    <li>
                                        <a href="<?php echo LoadAdminLinkSettings('manage-playlist?page-id=' . ($page + 1)); ?>" class="waves-effect" title="Next Page">
                                            <i class="material-icons">chevron_right</i>
                                        </a>
                                    </li>
                                    <?php } ?>
                                    <li>
                                        <a href="<?php echo LoadAdminLinkSettings('manage-playlist?page-id=' . ($db->totalPages)); ?>" class="waves-effect" title='Last Page'>
                                            <i class="material-icons">last_page</i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- #END# Vertical Layout -->
<div id="delete-modal" class="modal fade" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content modal-col-red">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DELETE PLAYLIST</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to continue? this action can't be undo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect delete-playlist-button" data-type="all">Delete</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.btn-delete-playlist').on('click', function (event) {
            event.preventDefault();
            $('#delete-modal').attr('data-id', $(this).attr('data-id')).modal('show');
        });

        $('.delete-playlist-button').on('click', function (event) {
            event.preventDefault();
            let type = $(this).attr('data-type');
            let id = $('#delete-modal').attr('data-id');
            $.get('{{CONFIG ajax_url}}/playlist/delete-playlist', {id: id, type: type}, function( data ) {
                if(data.status == 200){
                    location.reload();
                }
            });
        });

    });
</script>