<div class="ma_sidebar">
	<div class="sidebar">
		<div class="side_upld_btn">
			<?php if ($music->config->who_can_upload == 'all' || ($music->config->who_can_upload == 'admin' && IsAdmin()) || $music->config->who_can_upload == 'artist' && ($music->user->artist != 0 || IsAdmin())) { ?>
			<a href="{{LINK upload-song}}" class="btn btn-primary hide_hd_btn" data-load="upload-song"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M16,9V7H12V12.5C11.58,12.19 11.07,12 10.5,12A2.5,2.5 0 0,0 8,14.5A2.5,2.5 0 0,0 10.5,17A2.5,2.5 0 0,0 13,14.5V9H16M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2Z"></path></svg> {{LANG Upload}}</a>
			<?php } ?>


			<?php if( $music->config->soundcloud_import == 'on'  || $music->config->itunes_import == 'on' || $music->config->deezer_import == 'on' ) {?><a href="{{LINK import}}" class="btn btn-primary btn-imprt-scld hide_hd_btn" data-load="import"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13L12,18L7,13H10V9H14V13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z"></path></svg> {{LANG Import}}</a><?php }?>
		</div>

		<div class="sidebar_innr" data-simplebar>
			<ul class="sections">
				<li class="<?php if( $music->site_pagename == 'discover' ) { echo 'active'; }?>">
					<a href="{{LINK discover}}" data-load="discover">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12,23 C5.92486775,23 1,18.0751322 1,12 C1,5.92486775 5.92486775,1 12,1 C18.0751322,1 23,5.92486775 23,12 C23,18.0751322 18.0751322,23 12,23 Z M12,21 C16.9705627,21 21,16.9705627 21,12 C21,7.02943725 16.9705627,3 12,3 C7.02943725,3 3,7.02943725 3,12 C3,16.9705627 7.02943725,21 12,21 Z M17.5811388,6.41886117 L14.7905694,14.7905694 L6.41886117,17.5811388 L9.20943058,9.20943058 L17.5811388,6.41886117 Z M9.58113883,14.4188612 L13.2094306,13.2094306 L14.4188612,9.58113883 L10.7905694,10.7905694 L9.58113883,14.4188612 Z"></path></svg> {{LANG discover}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'new_music' ) { echo 'active'; }?>">
					<a href="{{LINK new_music}}" data-load="new_music">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M20,10.1804604 L10,11.8471271 L10,18.5 C10,20.477434 8.17292083,22 6,22 C3.82707917,22 2,20.477434 2,18.5 C2,16.522566 3.82707917,15 6,15 C6.72317475,15 7.40804269,15.1686455 8.00000003,15.4665774 L8.00000003,4.15287291 L22,1.81953958 L22,17.5 C22,19.477434 20.1729208,21 18,21 C15.8270792,21 14,19.477434 14,17.5 C14,15.522566 15.8270792,14 18,14 C18.7231748,14 19.4080427,14.1686455 20,14.4665774 L20,10.1804604 Z M6,20 C7.14078767,20 8,19.2839897 8,18.5 C8,17.7160103 7.14078767,17 6,17 C4.85921233,17 4,17.7160103 4,18.5 C4,19.2839897 4.85921233,20 6,20 Z M18,19 C19.1407877,19 20,18.2839897 20,17.5 C20,16.7160103 19.1407877,16 18,16 C16.8592123,16 16,16.7160103 16,17.5 C16,18.2839897 16.8592123,19 18,19 Z M10,5.84712709 L10,9.81953958 L20,8.15287291 L20,4.18046042 L10,5.84712709 Z"></path></svg> {{LANG New Music}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'top_music' ) { echo 'active'; }?>">
					<a href="{{LINK top_music}}" data-load="top_music">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M11 14H18V16H11zM11 10H20V12H11zM11 18H16V20H11z"/><path fill="currentColor" d="M7 20L9 20 9 8 12 8 8 4 4 8 7 8z"/></svg> {{LANG Top Music}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'albums' ) { echo 'active'; }?>">
					<a href="{{LINK albums}}" data-load="albums">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,2H8A2,2 0 0,0 6,4V16A2,2 0 0,0 8,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M20,16H8V4H20M12.5,15A2.5,2.5 0 0,0 15,12.5V7H18V5H14V10.5C13.58,10.19 13.07,10 12.5,10A2.5,2.5 0 0,0 10,12.5A2.5,2.5 0 0,0 12.5,15M4,6H2V20A2,2 0 0,0 4,22H18V20H4"></path></svg> {{LANG Albums}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'spotlight' ) { echo 'active'; }?>">
					<a href="{{LINK spotlight}}" data-load="spotlight">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M1,13 C0.44771525,13 0,12.5522847 0,12 C0,11.4477153 0.44771525,11 1,11 L1.41604369,11 C2.18760031,9.23409522 3.94968096,8 6,8 C7.82440303,8 9.42058775,8.97711876 10.2937745,10.4365766 C10.7845275,10.1580384 11.3764731,10 12,10 C12.6235269,10 13.2154725,10.1580384 13.7062255,10.4365766 C14.5794122,8.97711876 16.175597,8 18,8 C20.050319,8 21.8123997,9.23409522 22.5839563,11 L23,11 C23.5522847,11 24,11.4477153 24,12 C24,12.5522847 23.5522847,13 23,13 C23,15.7614237 20.7614237,18 18,18 C15.2385763,18 13,15.7614237 13,13 C13,12.8312503 13.0083597,12.6644531 13.0246876,12.5 L13,12.5 C13,12.2965729 12.6045695,12 12,12 C11.3954305,12 11,12.2965729 11,12.5 L10.9753124,12.5 C10.9916403,12.6644531 11,12.8312503 11,13 C11,15.7614237 8.76142375,18 6,18 C3.23857625,18 1,15.7614237 1,13 Z M6,16 C7.65685425,16 9,14.6568542 9,13 C9,11.3431458 7.65685425,10 6,10 C4.34314575,10 3,11.3431458 3,13 C3,14.6568542 4.34314575,16 6,16 Z M18,16 C19.6568542,16 21,14.6568542 21,13 C21,11.3431458 19.6568542,10 18,10 C16.3431458,10 15,11.3431458 15,13 C15,14.6568542 16.3431458,16 18,16 Z"></path></svg> {{LANG Spotlight}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'genres' ) { echo 'active'; }?>">
					<a href="{{LINK genres}}" data-load="genres">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19.8521478,10 L21.2077346,10.7531038 C22.2640885,11.339967 22.2640885,12.660033 21.2077346,13.2468962 L19.8521478,14 L21.2077346,14.7531038 C22.2640885,15.339967 22.2640885,16.660033 21.2077346,17.2468962 L13.1565731,21.7197637 C12.484006,22.0934121 11.515994,22.0934121 10.8434269,21.7197637 L2.79226543,17.2468962 C1.73591152,16.660033 1.73591152,15.339967 2.79226543,14.7531038 L4.1478522,14 L2.79226543,13.2468962 C1.73591152,12.660033 1.73591152,11.339967 2.79226543,10.7531038 L4.1478522,10 L2.79226543,9.24689624 C1.73591152,8.66003296 1.73591152,7.33996704 2.79226543,6.75310376 L10.8434269,2.28023626 C11.515994,1.90658791 12.484006,1.90658791 13.1565731,2.28023626 L21.2077346,6.75310376 C22.2640885,7.33996704 22.2640885,8.66003296 21.2077346,9.24689624 L19.8521478,10 Z M17.7930218,11.1439589 L13.1565731,13.7197637 C12.484006,14.0934121 11.515994,14.0934121 10.8434269,13.7197637 L6.20697823,11.1439589 L4.66610426,12 L11.8147128,15.9714492 C11.8832347,16.0095169 12.1167653,16.0095169 12.1852872,15.9714492 L19.3338957,12 L17.7930218,11.1439589 Z M17.7930218,15.1439589 L13.1565731,17.7197637 C12.484006,18.0934121 11.515994,18.0934121 10.8434269,17.7197637 L6.20697823,15.1439589 L4.66610426,16 L11.8147128,19.9714492 C11.8832347,20.0095169 12.1167653,20.0095169 12.1852872,19.9714492 L19.3338957,16 L17.7930218,15.1439589 Z M12.1852872,4.02855081 C12.1167653,3.99048306 11.8832347,3.99048306 11.8147128,4.02855081 L4.66610426,8 L11.8147128,11.9714492 C11.8832347,12.0095169 12.1167653,12.0095169 12.1852872,11.9714492 L19.3338957,8 L12.1852872,4.02855081 Z"></path></svg> {{LANG Genres}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'playlists' ) { echo 'active'; }?>">
					<a href="{{LINK playlists}}" data-load="playlists">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M23,19 C23,20.1045695 22.1045695,21 21,21 L9,21 C7.8954305,21 7,20.1045695 7,19 L7,5 C7,3.8954305 7.8954305,3 9,3 L21,3 C22.1045695,3 23,3.8954305 23,5 L23,19 Z M6,20 C4.8954305,20 4,19.1045695 4,18 L4,6 C4,4.8954305 4.8954305,4 6,4 L6,20 Z M3,19 C1.8954305,19 1,18.1045695 1,17 L1,7 C1,5.8954305 1.8954305,5 3,5 L3,19 Z M21,19 L21,5 L9,5 L9,19 L21,19 Z M13,9 L17,12 L13,15 L13,9 Z"></path></svg> {{LANG Playlists}}
					</a>
				</li>
				<?php if($music->config->radio_station_import == 'on'){?>
				<li class="<?php if( $music->site_pagename == 'stations' ) { echo 'active'; }?>">
					<a href="{{LINK stations}}" data-load="stations">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,10A2,2 0 0,1 14,12C14,12.5 13.82,12.94 13.53,13.29L16.7,22H14.57L12,14.93L9.43,22H7.3L10.47,13.29C10.18,12.94 10,12.5 10,12A2,2 0 0,1 12,10M12,8A4,4 0 0,0 8,12C8,12.5 8.1,13 8.28,13.46L7.4,15.86C6.53,14.81 6,13.47 6,12A6,6 0 0,1 12,6A6,6 0 0,1 18,12C18,13.47 17.47,14.81 16.6,15.86L15.72,13.46C15.9,13 16,12.5 16,12A4,4 0 0,0 12,8M12,4A8,8 0 0,0 4,12C4,14.36 5,16.5 6.64,17.94L5.92,19.94C3.54,18.11 2,15.23 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12C22,15.23 20.46,18.11 18.08,19.94L17.36,17.94C19,16.5 20,14.36 20,12A8,8 0 0,0 12,4Z"></path></svg> {{LANG Stations}}
					</a>
				</li>
				<?php } ?>
			</ul>
			<?php if( $music->config->artist_sell == 'on' ) { ?>
			<ul class="sections">
				<h3>{{LANG Store}}</h3>
				<li class="<?php if( $music->site_pagename == 'store' ) { echo 'active'; }?>">
					<a href="{{LINK store/songs}}" data-load="store/songs">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19.148,2.971C18.789,2.372,18.132,2,17.434,2H6.566C5.868,2,5.211,2.372,4.852,2.971L2.143,7.485 C2.049,7.641,2,7.818,2,8c0,1.006,0.386,1.914,1,2.618V19c0,1.103,0.897,2,2,2h4h6h4c1.103,0,2-0.897,2-2v-8.382 C21.614,9.914,22,9.006,22,8c0-0.182-0.049-0.359-0.143-0.515L19.148,2.971z M19.984,8.251C19.86,9.235,19.018,10,18,10 c-1.103,0-2-0.897-2-2c0-0.068-0.025-0.128-0.039-0.192l0.02-0.004L15.22,4h2.214L19.984,8.251z M10.819,4h2.361l0.813,4.065 C13.958,9.137,13.08,10,12,10s-1.958-0.863-1.993-1.935L10.819,4z M6.566,4H8.78L8.02,7.804l0.02,0.004C8.025,7.872,8,7.932,8,8 c0,1.103-0.897,2-2,2c-1.018,0-1.86-0.765-1.984-1.749L6.566,4z M10,19v-3h4v3H10z M16,19v-3c0-1.103-0.897-2-2-2h-4 c-1.103,0-2,0.897-2,2v3H5v-7.142C5.321,11.941,5.652,12,6,12c1.193,0,2.267-0.525,3-1.357C9.733,11.475,10.807,12,12,12 s2.267-0.525,3-1.357C15.733,11.475,16.807,12,18,12c0.348,0,0.679-0.059,1-0.142V19H16z"></path></svg> {{LANG Browse}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'purchased' ) { echo 'active'; }?>">
					<a href="{{LINK purchased}}" data-load="purchased">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M20.9459865,2 L21.9398231,19.88906 C22.0010936,20.9919288 21.1567113,21.9356502 20.0538425,21.9969207 C19.9984009,21.9994866 19.9984009,21.9994866 19.9429024,22 L4.05709758,22 C2.95252808,22 2.05709758,21.1045695 2.05709758,20 C2.05761099,19.9445015 2.05761099,19.9445015 2.06017687,19.88906 L3.05401353,2 L20.9459865,2 Z M4.94598647,4 L4.05709758,20 L19.9429024,20 L19.0540135,4 L4.94598647,4 Z M7,6 L9,6 L9,8.5 C9,9.74837297 10.3851384,11 12,11 C13.6148616,11 15,9.74837297 15,8.5 L15,6 L17,6 L17,8.5 C17,10.9006956 14.6767623,13 12,13 C9.32323775,13 7,10.9006956 7,8.5 L7,6 Z"></path></svg> {{LANG Purchased}}
					</a>
				</li>
			</ul>
			<?php } ?>
			<ul class="sections">
				<h3>{{LANG Your Music}}</h3>
				<li  class="<?php if( $music->site_pagename == 'recently_played' ) { echo 'active'; }?>">
					<a href="{{LANG recently_played}}" data-load="recently_played">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M5.11409306,6 L8,6 L8,8 L2,8 L2,1.99121094 L4,1.99121094 L4,4.25644966 C6.23707736,1.91055844 8.78662625,1 12,1 C18.0751322,1 23,5.92486775 23,12 C23,18.0751322 18.0751322,23 12,23 C5.92486775,23 1,18.0751322 1,12 L3,12 C3,16.9705627 7.02943725,21 12,21 C16.9705627,21 21,16.9705627 21,12 C21,7.02943725 16.9705627,3 12,3 C9.1592152,3 7.04465569,3.7913744 5.11409306,6 Z M13,11 L17,11 L17,13 L11,13 L11,6 L13,6 L13,11 Z"></path></svg> {{LANG Recently Played}}
					</a>
				</li>
				<li  class="<?php if( $music->site_pagename == 'my_playlists' ) { echo 'active'; }?>">
					<a href="{{LANG my_playlists}}" data-load="my_playlists">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M18,14.1404647 L18,9.13148291 L22.5547002,12.1679497 L21.4452998,13.8320503 L20,12.8685171 L20,16.5 C20,17.9534271 18.6045695,19 17,19 C15.3954305,19 14,17.9534271 14,16.5 C14,15.0465729 15.3954305,14 17,14 C17.3471248,14 17.6844618,14.0489806 18,14.1404647 Z M4,19 L4,17 L12,17 L12,19 L4,19 Z M4,15 L4,13 L12,13 L12,15 L4,15 Z M4,11 L4,9 L16,9 L16,11 L4,11 Z M4,7 L4,5 L19,5 L19,7 L4,7 Z M17,17 C17.6045695,17 18,16.7034271 18,16.5 C18,16.2965729 17.6045695,16 17,16 C16.3954305,16 16,16.2965729 16,16.5 C16,16.7034271 16.3954305,17 17,17 Z"></path></svg> {{LANG My Playlists}}
					</a>
				</li>
				<li class="<?php if( $music->site_pagename == 'favourites' ) { echo 'active'; }?>">
					<a href="{{LANG favourites}}" data-load="favourites">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M17,18L12,15.82L7,18V5H17M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z"></path></svg> {{LANG Favourites}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>
$(document).on('click', '.sidebar .sidebar_innr a', function() {
	$('body').removeClass('side_open');
});
</script>