<?php
$categories = getCategories(false);
?>
<div class="container-fluid">
    <div class="block-header">
        <h2>Users > Manage Categories</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><!-- 
                    <h2>Manage & Edit Genders</h2>  -->
                    <div class="row">
                       <div class="col-md-12" style="margin-bottom:0;">
                        <div class=" add_category_form_alert"></div>
                          <div class="row">
                              <div class="col-md-2">
                                  <button class="btn btn-info" id="add_new_gender">Add new category</button>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                       </div>
                   </div>
                </div>
                <div class="body">
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                   <th style="width: 5%;">ID</th>
                                   <th style="width: 7%;">Background</th>
                                   <th style="width: 73%;">Category Name</th>
                                   <th style="width: 15%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
                                $category_id = 1;
                                foreach ($categories as $key => $value) {
                                    echo LoadAdminPage('manage-categories/list',$value);
                                    $category_id = $category_id + 1;
                                }
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <!-- #END# Vertical Layout -->
<script>
$('.btn-lang').on('click', function(event) {
    $('#defaultModal .modal-body form .data').html('<div class="preloader pl-size-xl "><div class="spinner-layer pl-teal"><div class="circle-clipper left"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>');
    var lang_id = $(this).attr('data-id');
    $.get('{{CONFIG ajax_url}}/ap/get_category', {id: lang_id}, function(data, textStatus, xhr) {
        $('#defaultModal .modal-title').html('Edit key: ' + lang_id);
        $('#id_of_key').val(lang_id);
        $('#defaultModal .modal-body form .data').html(data.html);
    });
});
function Wo_SubmitLangForm() {
    $('.edit-key-settings').submit();
}
function Wo_SubmitAddCategoryForm() {
    $('.langsModalForm').submit();
}
$(function () {
  $('table').DataTable({
      "ordering": false
  });
  var form_lang_settings = $('form.edit-key-settings');
    form_lang_settings.ajaxForm({
        url: '{{CONFIG ajax_url}}/ap/update_category',
        beforeSend: function() {
            $('.btn-save').text('Please wait..');
        },
        success: function(data) {
            if (data.status == 200) {
                $('.btn-save').text('SAVE CHANGES');
                var value_to_use = $('[data-editable=1]').val();
                var id_of_key = $('#id_of_key').val();
                $('#edit_' + id_of_key).text(value_to_use);
                $('#defaultModal').modal('hide');
                location.reload();
            }
        }
    });

    var form_gender_settings = $('form.langsModalForm');
    form_gender_settings.ajaxForm({
        url: '{{CONFIG ajax_url}}/ap/add_new_category',
        beforeSend: function() {
            $('.btn-save').text('Please wait..');
        },
        success: function(data) {
            
            if (data.status == 200) {
                $('.btn-save').text('SAVE CHANGES');
                $('#langsModal').modal('hide');
                location.reload();
            }
            else{
                $('.btn-save').text('SAVE CHANGES');
                $('.langsModalAlert').html(data.message);
            }
            $("#langsModal").animate({ scrollTop: 0 }, 100);

        }
    });
});

$(document).on('click', '#add_new_gender', function(event) {
    $('#langsModal').modal('show');
});
function Wo_DeleteGender(key) {
  if (key == '') {
    return false;
  }
  if (!confirm('Are you sure you want to delete this category?')) {
    return false;
  }
    $.get('{{CONFIG ajax_url}}/ap/delete_category', {key: key}, function(data, textStatus, xhr) {
        var response = JSON.parse(data);
        if(response.status == 200){
            $('#' + key).fadeOut(300, function () {
                $(this).remove();
            });
        }else{
            alert(response.error);
        }
    });
}
</script>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success edit-lang-settings-alert"></div>
                <form class="edit-key-settings" method="POST">
                    <div class="data"></div>
                    <input type="hidden" name="hash_id" value="<?php echo createMainSession();?>">
                    <input type="hidden" name="id_of_key" id="id_of_key" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Wo_SubmitLangForm();" class="btn-save btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<style>
    .dt_selct_avatar {
        padding: 50px;
        border: 1px solid #cccccc;
        display: block;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f1f2f3;
    }
</style>

<div class="modal fade" id="langsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="langsModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success edit-lang-settings-alert"></div>

                <form class="langsModalForm" method="POST">
                    <div class="data"><?php echo LoadAdminPage('manage-categories/model',[]);?></div>
                    <input type="hidden" name="hash_id" value="<?php echo createMainSession();?>">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Wo_SubmitAddCategoryForm();" class="btn-save btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>



