<div class="container-fluid">
            <!-- Changelogs -->
            <div class="block-header">
                <h2>CHANGELOGS</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.3.2 [22/05/2020]</h2>
                        </div>
                        <div class="body">
                            <li>[Added] more APIs</li>
                            <li>[Fixed] 20+ reported bugs.</li>
                            <li>[Improved] speed.</li>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.3.1 [13/05/2020]</h2>
                        </div>
                        <div class="body">
                            <li>[Added] the ability to add custom pages.</li>
                            <li>[Added] affiliate system .</li>
                            <li>[Added] ability to upload a folder to an album.</li>
                            <li>[Added] ability to set discover as landing page (enable/disable).</li>
                            <li>[Added] Itunes importer and Itunes affiliate system.</li>
                            <li>[Added] the ability to import songs from deezer.</li>
                            <li>[Added] audio ads, user can create ads in audio.</li>
                            <li>[Added] the option for admin to only upload.</li>
                            <li>[Added] the option for artists to only upload.</li>
                            <li>[Added] the ability to like blog comments.</li>
                            <li>[Added] more APIs</li>
                            <li>[Fixed] 30+ reported bugs.</li>
                            <li>[Improved] speed.</li>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.3 [3/12/2019]</h2>
                        </div>
                        <div class="body">
                            <li>[Added] blog system (only admin can create blogs).</li>
                            <li>[Added] Advertisement: Display ads on your websites.</li>
                            <li>[Added] Ability to import from sound cloud.</li>
                            <li>[Added] Ability to Login via soundcloud.</li>
                            <li>[Added] Ability to add preexisting single/song into an album.</li>
                            <li>[Added] Ability to edit/move song position in an album.</li>
                            <li>[Added] Ability to review song.</li>
                            <li>[Added] custom fields.</li>
                            <li>[Added] DMCA page.</li>
                            <li>[Added] Notification management system (Users can choose what kind of notifications they want to get).</li>
                            <li>[Added] Session manager (users can view / manage browser / platforms where they are logged in).</li>
                            <li>[Added] Two-factor authentication system using email or phone.</li>
                            <li>[Added] Confirmation system when user login from new location.</li>
                            <li>[Added] Twilio API for sending SMS messages.</li>
                            <li>[Added] new APIs.</li>
                            <li>[Added] Mass notifications.</li>
                            <li>[Added] Invitation Codes.</li>
                            <li>[Added] Radio stations.</li>
                            <li>[Fixed] 20+ reported bugs.</li>
                            <li>[Improved] speed.</li>
                        </div>
                    </div>
                </div>
            </div>        
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.2.1</h2>
                        </div>
                        <div class="body">
                           <li>[Added] new theme.</li>
                            <li>[Fixed] 5+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>               
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.2</h2>
                        </div>
                        <div class="body">
                            <li>[Added] statics for each song, each album, this week, this month, today's views, likes, dislikes, etc.</li>
                            <li>[Added] bulk upload, one click, user can select 10+ songs in albums.</li>
                            <li>[Added] lyrics, user can upload lyrics to song.</li>
                            <li>[Added] the ability to disallow or allow download and embed features.</li>
                            <li>[Fixed] 5+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.1</h2>
                        </div>
                        <div class="body">
                            <li>[Added] option for admin to disable sell option, artist won't be able to sell.</li>
                            <li>[Added] more payment methods, bank and stripe.</li>
                            <li>[Added] earnings page in admin panel, to view site's latest sales and earnings, pro sales + song / albums sales.</li>
                            <li>[Added] purchases count in song page.</li>
                            <li>[Added] dislike system, user can now like or dislike a song. </li>
                            <li>[Added] search to manage playlists in admin panel. </li>
                            <li>[Added] search to manage albums in admin panel.</li>
                            <li>[Added] more currencies. </li>
                            <li>[Added] push notifications. </li>
                            <li>[Fixed] 5+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.5</h2>
                        </div>
                        <div class="body">
                            <li>[Changed] audio convert quality from 92k to 192k per second.</li>
                            <li>[Fixed] 5+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.4</h2>
                        </div>
                        <div class="body">
                            <li>[Added] share to wowonder button.</li>
                            <li>[Added] more index to DB, to improve speed and stability.</li>
                            <li>[Fixed] 7+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.3</h2>
                        </div>
                        <div class="body">
                            <li>[Added] manage reports, copyright reports + manage pages from admin panel.</li>
                            <li>[Added] withdrawal system for artists. </li>
                            <li>[Fixed] 5+ reported bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.2</h2>
                        </div>
                        <div class="body">
                            <li>[Added] FTP, Wasabi, Amazon S3 support.</li>
                            <li>[Removed] "user/" from profile user, user can access his profile directly from site.com/username</li>
                            <li>[Fixed] few bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0.1</h2>
                        </div>
                        <div class="body">
                            <li>Fixed few bugs.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>v1.0</h2>
                        </div>
                        <div class="body">
                           <li> Version 1.0 released on 8th April 2019.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>