<div class="ma_page_content">
	<div class="ma_pc_inner">
		<div class="single_song">
			<div class="ssong_header">
				<div class="container">
					<div class="ss_sub_head">
						<!--Publisher-->
						<div class="ss_publisher_info">
							<a class="ss_short_info" href="{{USER url}}" data-load="{{USER username}}">
								<div class="user-image">
									<img src="{{USER avatar}}" alt="User Avatar">
								</div>
								<p class="ss_short_info_innr">
									<span class="aut_nam">{{USER name}}</span>
								</p>
							</a>
						</div>
						<!--Title-->
						<h2>
							<a href="{{LINK track/{{t_audio_id}}}}" data-load='track/{{t_audio_id}}'>{{t_title}}</a>
							<span class="dropdown">
								<div class="btn" title="{{LANG More}}" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg></div>
								<div class="dropdown-menu dropdown-menu-right mat-dropdown">
									<ul class="list-unstyled mb-0">
										<li><a href="javascript:void(0)" onclick="getPlayLists({{t_id}})">{{LANG Add to Playlist}}</a></li>
										<?php if ($music->songData->owner == true || IsAdmin()) { ?>
										<li><a href="{{LINK edit-track/{{t_audio_id}}}}" data-load="edit-track/{{t_audio_id}}">{{LANG Edit Info}}</a></li>
										<li><a href="javascript:void(0)" onclick="$('#delete-song').attr('data-id', '{{t_id}}')" data-toggle="modal" data-target="#delete-song">{{LANG Delete Track}}</a></li>
										<?php } else if (IS_LOGGED == true) { ?>
											<li><?php echo getTrackReportButton(['user_id' => $music->user->id,'track_id' => $data['t_id']]); ?></li>
											<li><a href="javascript:void(0)" onclick="$('#song-copyright-id').val('{{t_id}}');"  data-toggle="modal" data-target="#create_copyright_box">{{LANG Report Copyright}}</a></li>
										<?php } ?>
										<?php if ($music->songData->owner == true && $music->songData->album_id == 0) { ?>
											<li><a href="javascript:void(0)" onclick="moveToAlbum(<?php echo $data['t_id'];?>)">{{LANG Move to album}}</a></li>
										<?php } ?>
										<?php if ($music->songData->owner == true || IsAdmin()) { ?>
										<li><a href="{{LINK track-statistics/{{t_audio_id}}/today}}" data-load="track-statistics/{{t_audio_id}}/today">{{LANG Statistics}}</a></li>
										<!--<li><a href="{{LINK track-reviews/{{t_audio_id}}}}" data-load="track-reviews/{{t_audio_id}}">{{LANG Reviews}}</a></li>-->
										<?php } ?>
									</ul>
								</div>
							</span>
						</h2>
						<!--Title Toolbar-->
						<div class="mus_track_toolbar">
							<?php if ($music->songData->owner == false && IS_LOGGED) {?>
								<?php if (!isFollowing($music->songData->publisher->id)) { ?>
								<button class="btn main" id="follow-user" data-user-id="{{USER id}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15,14C12.33,14 7,15.33 7,18V20H23V18C23,15.33 17.67,14 15,14M6,10V7H4V10H1V12H4V15H6V12H9V10M15,12A4,4 0 0,0 19,8A4,4 0 0,0 15,4A4,4 0 0,0 11,8A4,4 0 0,0 15,12Z" /></svg> {{LANG Follow}}</button>
								<?php } else { ?>
							    <button class="btn main" id="unfollow-user" data-user-id="{{USER id}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.1,12.5L22.5,13.91L15.97,20.5L12.5,17L13.9,15.59L15.97,17.67L21.1,12.5M10,17L13,20H3V18C3,15.79 6.58,14 11,14L12.89,14.11L10,17M11,4A4,4 0 0,1 15,8A4,4 0 0,1 11,12A4,4 0 0,1 7,8A4,4 0 0,1 11,4Z" /></svg> {{LANG Following}}</button>
							    <?php } ?>
								<span class="mid-dot">·</span>
							<?php } ?>

							<?php
								if ( getReviewsCount($music->songData->id) > 0 ){
									echo '<a href="{{LINK track-reviews/{{t_audio_id}}}}" data-load="track-reviews/{{t_audio_id}}" class="btn main">';
										for($i = 1; $i <= (int)$music->rate_avg ; $i++){
											echo '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24"><path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path></svg>';
										}
										echo $music->total_review . ' ' . lang('Reviews');
									echo '</a><span class="mid-dot">·</span>';
								}
							?>

							<?php if ($music->can_download == true && $music->songData->allow_downloads == 1) { ?>
							<a class="btn main" href="{{LINK download.php?id={{t_audio_id}}}}" download><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" /></svg> {{LANG Download}}</a>
							<span class="mid-dot">·</span>
							<?php } ?>
							<?php if($music->config->artist_sell == 'on'){ ?>
								<?php if ($music->isPurchased == false && $music->songData->owner == false && $music->songData->price > 0 && IS_LOGGED == true) { ?>
									<button class="btn main" onclick="purchaseTrack('{{t_audio_id}}', $(this))" data-title="{{t_title}}" data-price="{{t_price}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" /></svg> {{LANG buy}} {{CONFIG currency_symbol}}{{t_price}}</button>
									<span class="mid-dot">·</span>
								<?php } else if ($music->songData->price > 0 && $music->can_download == false){ ?>
									<span>{{CONFIG currency_symbol}}{{t_price}}</span>
									<span class="mid-dot">·</span>
								<?php } ?>
							<?php } ?>
							<span class="published" title="{{LANG Published}}"><span class="ajax-time" style="font-size: inherit;">{{t_time}}</span> {{LANG in}} <a href="{{LINK explore-genres/<?php echo $music->songData->category_id;?>}}" data-load="explore-genres/<?php echo $music->songData->category_id;?>" class="main">{{category_name}}</a><?php if (!empty($music->albumData)) { ?>, {{LANG in album:}} <a href="{{LINK album/<?php echo $music->albumData->album_id;?>}}" data-load="album/<?php echo $music->albumData->album_id;?>" class="main"><?php echo $music->albumData->title;?></a><?php } ?></span>
						</div>
						<div class="ds_review_headlines"><?php echo getTrackReviewButton(['user_id' => $music->user->id,'track_id' => $data['t_id']]); ?><?php
											if ( getReviewsCount($music->songData->id) > 0 ){
												echo '<a href="{{LINK track-reviews/{{t_audio_id}}}}" data-load="track-reviews/{{t_audio_id}}">';
												for($i = 1; $i <= (int)$music->rate_avg ; $i++){
													echo '';
												}
												echo $music->total_review . ' ' . lang('Reviews');
												echo '</a>';
											}
										?></div>
						<?php if (!empty($music->songData->itunes_token_url)) { ?>
							<div class="ds_buy_stores_btn">
								<a href="<?php echo($music->songData->itunes_token_url) ?>" target="_blank" title="Buy in iTunes">
									<img src="{{CONFIG theme_url}}/img/iTunes.png"/>
								</a>
							</div>
						<?php } ?>
						<?php if (!empty($music->songData->deezer_url)) { ?>
							<div class="ds_buy_stores_btn">
								<a href="<?php echo($music->songData->deezer_url) ?>" target="_blank" title="{{LANG Listen in Deezer}}">
									<img src="{{CONFIG theme_url}}/img/deezer.png"/>
								</a>
							</div>
						<?php } ?>
					</div>
					<div class="ss_sub_body">
						<div class="clearfix">
							<div class="row">
								<div class="col-lg-3">
									<div class="ss_image" style="background-image: url({{t_thumbnail}})"></div>
									<ul class="mus_track_ss_stats list-unstyled mb-0">
										<li class="ss_track_info_innr_play_ico"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 24 24"><path fill="#1eee6c" d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z" /></svg> {{COUNT_VIEWS}}</li>
										<li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="red" d="M13.35 20.13c-.76.69-1.93.69-2.69-.01l-.11-.1C5.3 15.27 1.87 12.16 2 8.28c.06-1.7.93-3.33 2.34-4.29 2.64-1.8 5.9-.96 7.66 1.1 1.76-2.06 5.02-2.91 7.66-1.1 1.41.96 2.28 2.59 2.34 4.29.14 3.88-3.3 6.99-8.55 11.76l-.1.09z"></path></svg> <span id="track_likes_count" data-count="{{COUNT_LIKES}}">{{COUNT_LIKES}}</span></li>
										<li><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="#4e7390" d="M1,4.27L2.28,3L20,20.72L18.73,22L15.18,18.44L13.45,20.03L12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,7.55 2.23,6.67 2.63,5.9L1,4.27M7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,11.07 20.42,13.32 17.79,15.97L5.27,3.45C5.95,3.16 6.7,3 7.5,3Z"></path></svg> <span id="track_dislikes_count" data-count="{{COUNT_DISLIKES}}">{{COUNT_DISLIKES}}</span></li>
										<li class="ss_track_info_innr_share_ico"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92-1.31-2.92-2.92-2.92z" /></svg> {{t_shares}}</li>
										<li><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24"><path fill="#ff9900" d="M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z" /></svg> {{fav_count}}</li>
									</ul>
								</div>
								<div class="col-lg-1"></div>
								<div class="col-lg-8">

									<?php if( $music->songData->src == 'radio' ) {?>

										<div class="spectrograph_prnt hide">
											<div class="spectrograph equalizer">
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
											</div>
											<div class="spectrograph equalizer">
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
											</div>
											<div class="spectrograph equalizer">
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
											</div>
											<div class="spectrograph equalizer">
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
												<div class="spectrograph__bar"></div>
											</div>
										</div>

									<?php } else { ?>
										<div id="waveform-load"></div>
										<?php
											$dark = $music->songData->dark_wave;
											$light = $music->songData->light_wave;
											$bar = '#363636';
											$opacity = '';

											if( $music->config->ffmpeg_system == 'off'){
												$dark = $music->songData->light_wave;
												$light = $music->songData->dark_wave;

												if($_COOKIE['mode'] == 'day'){
													$bar = 'rgb(191, 191, 191)';
													$opacity = 'opacity: 0.5;';
													if($music->songData->ffmpeg == 0){
														$dark = $music->songData->light_wave;
														$light = $music->songData->dark_wave;
													}else{
														$dark = $music->songData->dark_wave;
														$light = $music->songData->light_wave;
													}
												}else{
													$opacity = '';
													if($music->songData->ffmpeg == 0){
														$dark = $music->songData->light_wave;
														$light = $music->songData->dark_wave;
													}else{
														$dark = $music->songData->dark_wave;
														$light = $music->songData->light_wave;
													}
												}
											}else{
												$dark = $music->songData->dark_wave;
												$light = $music->songData->light_wave;

												if($_COOKIE['mode'] == 'day'){
													$dark = str_replace('_dark.png','_day.png',$music->songData->dark_wave);
													if(!file_exists( $dark ) ){
														$dark = $music->songData->light_wave;
														$light = $music->songData->dark_wave;
													}
													$bar = 'rgb(191, 191, 191)';
												}else{
													$dark = str_replace('_day.png','_dark.png',$music->songData->dark_wave);
													if($music->songData->ffmpeg == 0){
														$dark = $music->songData->light_wave;
														$light = $music->songData->dark_wave;
													}else{
														$dark = $music->songData->dark_wave;
														$light = $music->songData->light_wave;
													}
												}
											}

											$rl = 'left: 0;border-left: inherit!important;border-right: 1px solid '.$bar.' ;';
											if ( $music->language_type == 'rtl' ){
												$rl = 'right: 0;border-#delete-songright: inherit!important;border-left: 1px solid '.$bar.' ;';
											}
										?>
										<div id="waveform" class="waveform">
											<div class="images" style="width: 100%" id="dark-waves">
												<img src="<?php echo getMedia($dark); ?>" style="width: 100%;<?php echo $opacity;?>" id="dark-wave">
												<div class="comment-waves">
													{{comments_on_wave}}
												</div>
												<div style="width: 0%; z-index: 111; position: absolute; overflow: hidden; top: 0; <?php echo $rl;?> " id="light-wave">
													<img src="<?php echo getMedia($light); ?>">
												</div>
											</div>
										</div>
										<div class="waveform mus_track_wf">
											<div class="images" style="width: 100%" id="dark-waves-prnt">
												<img src="<?php echo getMedia($dark); ?>" class="dark-wave" id="dark-wavez">
												<div style="<?php echo $rl;?> " class="light-wave" id="light-waves">
													<img src="<?php echo getMedia($light); ?>">
												</div>
											</div>
										</div>
									<?php }?>

									<div class="mus_track_act_btns">
										<?php echo getLikeButton($music->songData->id, 'like-default'); ?>
										<?php echo getDisLikeButton($music->songData->id, 'dislike-default'); ?>
										<div class="ss_track_play_pause" data_is_ad="0">

											<?php if( $music->songData->src == 'radio' ) {?>
												<div class="play_btn" onclick="playSong('{{t_audio_id}}','<?php echo($music->audio_ad_id) ?>');$('.spectrograph_prnt').removeClass('hide');"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="#f98f1d" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z" /></svg></div>
												<div class="pause_btn" onclick="Amplitude.pause();$('body').removeClass('player_running');$('.spectrograph_prnt').addClass('hide');"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="#f98f1d" d="M13,16V8H15V16H13M9,16V8H11V16H9M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z" /></svg></div>
											<?php } else { ?>
												<div class="play_btn" onclick="<?php if (empty($music->songData->dark_wave) && empty($music->songData->light_wave)) { ?>wavesurfer.play();<?php } else { ?>playSong('{{t_audio_id}}','<?php echo($music->audio_ad_id) ?>');<?php } ?>"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="#f98f1d" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg></div>
												<div class="pause_btn" onclick="<?php if (empty($music->songData->dark_wave) && empty($music->songData->light_wave)) { ?>wavesurfer.pause();<?php } else { ?>Amplitude.pause();<?php } ?>$('body').removeClass('player_running');"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24"><path fill="#f98f1d" d="M15,16H13V8H15M11,16H9V8H11M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg></div>
											<?php } ?>

										</div>
										<button class="ss_action_item" onclick="getShareModal('{{t_id}}', $(this));"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z" /></svg> {{LANG Share}}</button>
										<?php if (IS_LOGGED) { ?>
											<button class="ss_action_item" onclick="rePost('{{t_id}}', $(this));"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-repeat"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg></svg> {{LANG Re Post}}</button>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" id="current-track" value="{{t_audio_id}}">
			<div class="container">
				<div class="row mus_track_btm_row">
					<div class="col-lg-6">
						<div class="ssong_comments ssong_comments_main">
							<div class="mus_track_widget_head">
								<span style="background:#ff9800"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9Z"></path></svg></span> {{comment_count}} {{LANG comments}}
							</div>
							<div class="write_comment">
								<?php if (IS_LOGGED) { ?>
								<img src="{{ME avatar}}" alt="" class="u_avatar">
								<?php } else {?>
								<img src="<?php echo getMedia($music->user_default_avatar)?>" alt="" class="u_avatar">
								<?php } ?>
								<!--<input type="text" onkeyup="registerComment(this.value, $('#current-track').val(), event, $(this));" title="{{LANG Write a comment and press enter}}" placeholder="{{LANG Write a comment and press enter}}" value="" class="comment_input" >-->
								<textarea title="{{LANG Write a comment and press enter}}" data-audio-id="{{t_audio_id}}" placeholder="{{LANG Write a comment and press enter}}" value="" class="comment_input" ></textarea>
							</div>
							<ul class="list-unstyled mb-0 comment_list comment-list-{{t_audio_id}}" >
								{{comment_list}}
							</ul>
							<?php if($music->comment_count > 0){?>
							<div class="text-center see_all">
								<a href="javascript:void(0); loadMore('comments', 'comments');" id="load-more-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG Load More}}</a>
							</div>
							<?php } ?>
						</div>
					</div>
					<div class="col-lg-3 mus_track_frst_side">
						<div class="mus_track_side_desc">
							<div class="mus_track_widget_head">
								<span style="background:#03a9f4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M4,5H20V7H4V5M4,9H20V11H4V9M4,13H20V15H4V13M4,17H14V19H4V17Z"></path></svg></span> {{LANG description}}
							</div>
							<p class="ss_description">{{t_description}}</p>
							<div class="ss_tags">
								<?php foreach ($music->songData->tagsFiltered as $key => $tag) { ?>
									<a href="{{LINK search/songs/}}<?php echo $tag?>" data-load='search/songs/<?php echo $tag?>'>#<?php echo $tag?></a>
								<?php } ?>
							</div>
						</div>
						<?php if(!empty($music->songData->lyrics)){?>
							<div class="song_lyrics">
								<div class="mus_track_widget_head">
									<span style="background:#f436bd"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19,3A2,2 0 0,1 21,5V13.34C20.36,13.11 19.68,13 19,13C15.68,13 13,15.69 13,19C13,19.68 13.11,20.36 13.34,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H9.18C9.5,2.16 10.14,1.5 11,1.2C12.53,0.64 14.25,1.44 14.82,3H19M12,3A1,1 0 0,0 11,4A1,1 0 0,0 12,5A1,1 0 0,0 13,4A1,1 0 0,0 12,3M11,17V15H7V17H11M13,13V11H7V13H13M17,9V7H7V9H17M17,16L22,19L17,22V16Z"></path></svg></span> {{LANG Lyrics}}
								</div>
								<p id="rmjs-1">
									<?php echo $music->songData->lyrics;?>
								</p>
							</div>
						<?php } ?>
						<?php if($data['recentPlays'] !== ''){?>
                        <div class="sidebar_widget">
							<div class="s_widget_head">
								<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z"></path></svg></span> {{LANG Recently Listened by}}
							</div>
							<div class="feed_sidebar_artist" data-simplebar>
								{{recentPlays}}
							</div>
						</div>
						<?php }?>
						<?php echo GetAd('side_bar');?>
					</div>
					<div class="col-lg-3 mus_track_sec_side">
						{{ads}}
						<div class="ss_related">
							<div class="s_widget_head">
								<span style="background:#7367f0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21,3V15.5A3.5,3.5 0 0,1 17.5,19A3.5,3.5 0 0,1 14,15.5A3.5,3.5 0 0,1 17.5,12C18.04,12 18.55,12.12 19,12.34V6.47L9,8.6V17.5A3.5,3.5 0 0,1 5.5,21A3.5,3.5 0 0,1 2,17.5A3.5,3.5 0 0,1 5.5,14C6.04,14 6.55,14.12 7,14.34V6L21,3Z"></path></svg></span> {{LANG More Tracks}}
							</div>
							<div class="row mus_track_relt_song_row">
								{{related_tracks}}
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<img src="" alt="" id="de-image">
<style>.mus_track_wf .light-wave {background: <?php echo $music->config->waves_color;?>}</style>

<script>
<?php if( $music->songData->src == 'radio' ) {?>

    jQuery(document).ready(function($) {
        playSong($('#current-track').val());
        $('.spectrograph_prnt').removeClass('hide');
    });

<?php } else { ?>

	jQuery(document).ready(function($) {
		<?php if ($music->autoPlay == true) { ?>
			playSong($('#current-track').val());
		<?php } ?>
		$('#light-wave img').width($('#dark-wave').width() + 'px');
	});
	<?php if (empty($music->songData->dark_wave) && empty($music->songData->light_wave)) { ?>
	var wavesurfer = WaveSurfer.create({
		container: '.waveform',
		waveColor: '<?php echo $music->config->waves_color;?>',
		progressColor: '#bfbfbf',
		height: 150,
		scrollParent: false,
		responsive: true,
	});

	wavesurfer.on('loading', function (integer) {
		$('#waveform-load').html("{{LANG Generating waves..}} (" + integer + '%)');
	});

	wavesurfer.on('ready', function (percents) {
		$('body').addClass('waveform_ready');
		wavesurfer.setVolume(0);
		setTimeout(function () {
			$.post('{{CONFIG ajax_url}}/convert-waves', {darkImage: wavesurfer.exportImage(), LightImage: convertCanvasToImage(), id: "{{t_audio_id}}"}, function (data) {
				if (data.status == 200) {
					location.reload();
				}
			});
		}, 300);
		$('#waveform-load').empty();
	});
	wavesurfer.on('play', function (percents) {
		$('body').addClass('waveform_ready');
		$('body').addClass('player_running');
		setTimeout(function () {
			convertCanvasToImage
		} , 5000);

		Amplitude.play();
	});
	wavesurfer.on('pause', function (percents) {
		$('body').removeClass('player_running');
		Amplitude.pause()
	});

	wavesurfer.on('seek', function (seeks) {
		Amplitude.skipTo( wavesurfer.getCurrentTime(), 0 )
		wavesurfer.setVolume(0);
	});
	wavesurfer.load('{{t_song}}');
	<?php } ?>
<?php } ?>

function convertCanvasToImage() {
	var can = $('canvas').get(0);
	return can.toDataURL();
}
</script>

<script>
	if( typeof $('#rmjs-1').readmore !== "undefined" ) {
        $('#rmjs-1').readmore({
            speed: 75,
            collapsedHeight: 190,
            moreLink: '<a href="#" class="hash"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg> {{LANG Read more}}</a>',
            lessLink: '<a href="#" class="hash"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" /></svg> {{LANG Read less}}</a>',
            afterToggle: function (trigger, element, expanded) {
                //if(! expanded) {
                // The "Close" link was clicked
                $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
                //}
            }
        });
    }
</script>