<tr id="<?php echo $data['category_key'];?>">
    <td><?php echo $data['category_id'];?></td>
    <td id="edit_<?php echo $data['category_key'];?>"><?php echo $data['category'];?></td>
    <td>
        <button type="button" class="btn btn-default waves-effect btn-lang m-r-20" data-id="<?php echo $data['category_key'];?>" data-toggle="modal" data-target="#defaultModal">EDIT</button>
        <button onclick="Wo_DeleteCategory('<?php echo $data['category_key'];?>');" type="button" class="btn btn-danger waves-effect waves-light">DELETE</button>
    </td>
</tr>