<header>
	<div class="head_menu" id="open_slide">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
	</div>
	<div class="head_search">
		{{site_search_bar}}
	</div>
	<div class="mu_left_hdr_part">
		<div class="left_hdr_btns" id="open_search">
			<a href="javascript:void(0);" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.3198574,14.9056439 L21.7071068,20.2928932 L20.2928932,21.7071068 L14.9056439,16.3198574 C13.5509601,17.3729184 11.8487115,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.8487115 17.3729184,13.5509601 16.3198574,14.9056439 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"/></svg> {{LANG search}}</a>
		</div>
		<div class="left_hdr_btns logd_feed_link">
			<a href="{{LINK feed}}" class="btn" data-load="feed"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3.81818182,11 L20.1818182,11 C21.1859723,11 22,11.8954305 22,13 L22,15 C22,16.1045695 21.1859723,17 20.1818182,17 L3.81818182,17 C2.81402773,17 2,16.1045695 2,15 L2,13 C2,11.8954305 2.81402773,11 3.81818182,11 Z M4,13 L4,15 L20,15 L20,13 L4,13 Z M3.81818182,3 L20.1818182,3 C21.1859723,3 22,3.8954305 22,5 L22,7 C22,8.1045695 21.1859723,9 20.1818182,9 L3.81818182,9 C2.81402773,9 2,8.1045695 2,7 L2,5 C2,3.8954305 2.81402773,3 3.81818182,3 Z M4,5 L4,7 L20,7 L20,5 L4,5 Z M2,19 L14,19 L14,21 L2,21 L2,19 Z"/></svg> {{LANG Feed}}</a>
		</div>
	</div>
	<div class="head_logo loggd_hd_logo">
		<a href="{{LINK }}" <?php if( IS_LOGGED === true ) {?>data-load="feed"<?php }?>>
			<?php if( $music->mode_link == 'day' ){?>
			<img src="{{CONFIG theme_url}}/img/logo.png" alt="">
			<?php }else{ ?>
			<img src="{{CONFIG theme_url}}/img/logo-white.png" alt="">
			<?php } ?>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg>
		</a>
	</div>
	<div class="mu_right_hdr_part head_user">
		<!--<a href="{{LINK upload-song}}" class="btn btn-primary btn-mat hide_hd_btn" data-load="upload-song"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M16,9V7H12V12.5C11.58,12.19 11.07,12 10.5,12A2.5,2.5 0 0,0 8,14.5A2.5,2.5 0 0,0 10.5,17A2.5,2.5 0 0,0 13,14.5V9H16M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2Z"></path></svg> {{LANG Upload}}</a>-->
		<span class="chaticon">
			<a href="{{LINK messages}}" data-load="messages">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12.0867962,18 L6,21.8042476 L6,18 L4,18 C2.8954305,18 2,17.1045695 2,16 L2,4 C2,2.8954305 2.8954305,2 4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,16 C22,17.1045695 21.1045695,18 20,18 L12.0867962,18 Z M8,18.1957524 L11.5132038,16 L20,16 L20,4 L4,4 L4,16 L8,16 L8,18.1957524 Z M7,13 L7,11 L14,11 L14,13 L7,13 Z M7,9 L7,7 L16,7 L16,9 L7,9 Z" /></svg>
				<span id="new-messages"></span>
			</a>
		</span>

		<span class="notis dropdown">
			<span class="unread_count">
			<?php 
			$count = getNotifications('count', false); 
			if ($count > 0) {
				echo $count;
			}
			?>
			</span>
			<svg onclick="getNotifications()" xmlns="http://www.w3.org/2000/svg" data-display="static" data-toggle="dropdown" aria-haspopup="true" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10.1353075,2.27592318 C10.2402118,2.0052531 10.405725,1.75363521 10.6305147,1.54243008 C11.4002733,0.819189975 12.5997267,0.819189975 13.3694853,1.54243008 C13.5947695,1.75409979 13.7605161,2.00636024 13.8653839,2.27770959 C16.7616088,3.1234978 19,5.9408248 19,10 C19,12.6246407 19.5316915,14.1023939 20.5153799,15.1769385 C20.7591805,15.4432571 21.6159553,16.2145106 21.7120353,16.3119441 L22,16.6039656 L22,20.0140878 L15.8743256,20.0140878 C15.6241439,20.9988638 15.0074832,21.861375 14.0878016,22.4226016 C12.8058555,23.2048965 11.1941445,23.2048965 9.91219841,22.4226016 C8.87009269,21.7866669 8.29383594,21.076125 8.08797645,20.0140878 L2,20.0140878 L2,16.6039656 L2.2879647,16.3119441 C2.39205094,16.2070827 3.24384208,15.442761 3.48595854,15.1793313 C4.46898326,14.1097716 5,12.6338939 5,10 C5,5.92919283 7.23535296,3.11802713 10.1353075,2.27592318 Z M10.1786171,20.0140878 C10.3199018,20.276911 10.5607105,20.4753661 10.9540156,20.7153766 C11.596268,21.1073049 12.403732,21.1073049 13.0459844,20.7153766 C13.3433933,20.5338858 13.5757865,20.2937382 13.7367218,20.0140878 L10.1786171,20.0140878 Z M20,17.4519264 C19.701613,17.1774463 19.2506046,16.7572744 19.0401756,16.5274096 C17.7059972,15.0700027 17,13.1077943 17,10 C17,6.23128941 14.6597092,4.01238167 12,4.01238167 C9.33276935,4.01238167 7,6.21989471 7,10 C7,13.1178011 6.29422173,15.0794011 4.95848591,16.5327208 C4.74843403,16.7612633 4.29607181,17.181102 4,17.45237 L4,18.0140878 L20,18.0140878 L20,17.4519264 Z" /></svg>
			<div class="dropdown-menu dropdown-menu-right mat-dropdown">
				<ul class="list-unstyled mb-0" id="notification-list">
					<li class="noti_load">
						<svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg>
					</li>
				</ul>
			</div>
		</span>
		<span class="opts_account dropdown">
			<img src="{{ME avatar}}" alt="my profile picture" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="dropdown-menu dropdown-menu-right mat-dropdown">
				<ul class="list-unstyled mb-0">
					<?php if ($music->user->is_pro == 0 && $music->config->go_pro == 'on') { ?>
					<li><a href="{{LINK go-pro}}" data-load="go-pro">{{LANG Upgrade To PRO}}</a></li>
					<?php } ?> 
					<li><a href="{{ME url}}" data-load="{{ME username}}">{{ME name}}</a></li>
					<li class="divider"></li>
					<?php if ($music->user->artist == 0) { ?>
					<li><a href="{{LINK become}}" data-load="become">{{LANG Become an artist}}</a></li>
					<li class="divider"></li>
					<?php } ?> 
					<li><a href="{{ME url}}/songs" data-load="{{ME username}}/songs">{{LANG My Songs}}</a></li>
					<li><a href="{{ME url}}/albums" data-load="{{ME username}}/albums">{{LANG My Albums}}</a></li>
					<li><a href="{{LINK dashboard}}" data-load="dashboard">{{LANG Dashboard}}</a></li>
					<li><a href="{{LINK settings/{{ME username}}/general}}" data-load="settings/{{ME username}}/general">{{LANG Settings}}</a></li>
					<?php if ($music->config->user_ads == 'on') { ?>
					<li><a href="{{LINK ads}}" data-load="ads">{{LANG Advertising}}</a></li>
					<?php } ?>
					<!--<li class="divider"></li>
					<li><a href="{{LINK recently_played}}" data-load="recently_played">{{LANG Recently Played}}</a></li>
					<li><a href="{{LINK my_playlists}}"  data-load="my_playlists">{{LANG My Playlists}}</a></li>
					<li><a href="{{LINK favourites}}" data-load="favourites">{{LANG Favourites}}</a></li>-->
					<?php if (IsAdmin()) { ?>
					<li class="divider"></li>
					<li><a href="{{LINK admin-cp/}}">{{LANG Admin Panel}}</a></li>
					<?php } ?>
					<li class="divider"></li>
					<li><a href="{{LINK logout}}" data-logout="true">{{LANG Logout}}</a></li>
					<li class="divider"></li>
					<li class="toggle-mode top-header">
						<label class="switch">
							<span class="txt"><?php echo $music->mode_text; ?></span>
							<input type="checkbox" id="night_mode_toggle" data-mode='<?php echo $music->mode_link; ?>'>
							<span class="slider round"></span>
						</label>
					</li>
				</ul>
			</div>
		</span>
	</div>
</header>

<script>
$(document).on('click', 'a[data-logout]', function(event) {
	event.preventDefault();
	$.get('{{CONFIG ajax_url}}/logout', function(data) {
		if (data.status == 200) {
			$('#main-header').html(data.header);
			if (Amplitude.getActiveSongMetadata().price > 0) {
				location.href = window.location.href;
			} else {
				//ajaxRedirect();
                location.href = window.location.href;
			}
		}
	});
});
function getNotifications() {
	$('.unread_count').text("");
	$("#notification-list").html('<li class="noti_load"><svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round"><animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate><animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate></circle></svg></li>');
	$.get('{{CONFIG ajax_url}}/notifications/get', function(data) {
		if (data.status == 200) {
			$("#notification-list").html(data.html);
		} else {
			$("#notification-list").html("<li class='no_notification'>{{LANG No notifications found}}</li>");
		}
	});
}

jQuery(document).ready(function($) {
	setTimeout(updateNotifications, 5000);
});

function updateNotifications() {
	$.get('{{CONFIG ajax_url}}/notifications/count_unseen', function(data) {
		if (data.status == 200) {
			if (data.count > 0) {
				$(".unread_count").html(data.count);
			} else {
				$(".unread_count").html("");
			}
            if (data.msgs > 0) {
                $("#new-messages").html(data.msgs);
            } else {
                $("#new-messages").html("");
            }
		} 
		setTimeout(updateNotifications, 5000);
	});
}
</script>