
.blog-masthead {
  background-color: #428bca;
  margin-bottom:15px;
}
.navbar-brand{
  padding:10px 15px;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

#nav-item-generator{
  float: right;
  background: #5cb85c;
  color: #fff;
}


