<div class="container-fluid">
    <div class="block-header">
        <h2>Users > Manage Custom Profile Fields</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Manage & Edit Custom Profile Fields</h2> 
                    <a href="<?php echo LoadAdminLinkSettings('add-new-profile-field'); ?>" class="btn btn-warning waves-effect waves-light m-t-20">Create New Custom Field</a>
                </div>
                <div class="body">
                   <div class="table-responsive1">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                   <th>ID</th>
					               <th>Field name</th>
					               <th>Type</th>
					               <th>Length</th>
					               <th>Placement</th>
					               <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php 
				                foreach (GetProfileFields('admin') as $wo['field']) {
				                    echo LoadAdminPage('manage-profile-fields/list',$wo['field']);
				                }
				                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <!-- #END# Vertical Layout -->
<script>
$(function () {
  $('table').DataTable({
      "ordering": false
  });
});
function DeleteField(id) {
  if (id == '') {
    return false;
  }
  if (!confirm('Are you sure you want to delete this field?')) {
    return false;
  }
  $('#' + id).fadeOut(300, function () {
    $(this).remove();
  });
  $.get('{{CONFIG ajax_url}}/ap/delete_field?id='+ id);
}
</script>